:80 {
  handle_path /* {
    reverse_proxy shopping-django-app:8000
  }

  handle_path /static/* {
    root * ./static/
    file_server
  }

  handle_path /shopping/dashboard/* {
    root * ./site/
    file_server
  }

  handle_path /assets/* {
    root * ./site/assets/
    file_server
  }
}

